@use '../abstractions/' as *;

html {
  background-color: #444444;
}

.container {
  max-width: 480px;
  width: 100%;
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $space_main_content;
  margin: 0 auto;
  background-color: $color_background;
  position: relative;
  overflow: auto;
  scrollbar-width: none;
}

.container-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space_main_content;
}

.margin-top {
  margin-top: auto;
}

a {
  color: $color_text_link;
}

h1 {
  @include head-1
}

h2 {
  @include head-2
}

// позиционирование текста

.text-centr {
  text-align: center;
}

.logo-img-wrap {
  text-align: center;
}

body {
  line-height: 1.2;
}