@use '../abstractions/' as *;

html {
  background-color: #444444;
}

.container {
  max-width: 480px;
  width: 100%;
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  margin: 0 auto;
  background-color: $color_background;

  overflow: auto;
  scrollbar-width: none;
}

a {
  color: $color_text_link;
}

h1 {
  @include head-1
}

h2 {
  @include head-2
}

// позиционирование текста

.text-centr {
  text-align: center;
}

.logo-img-wrap {
  text-align: center;
}