@use '../abstractions/' as *;

html {
  background-color: #444444;
}

.container {
  max-width: 480px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  background-color: $background-color;
}

a {
  color: $font-link;
}

h1 {
  @include head-1
}

h2 {
  @include head-2
}

// позиционирование текста

.text-centr {
  text-align: center;
}