@use '../abstractions/' as *;

// размеры кнопок
.btn-lg {
  min-height: 50px;
  @include label-2;
  padding: $space_4 $space_20 $space_4 $space_8;
  gap: $space_10;

  div {
    flex-basis: 40px;
  }
}

.btn-md {
  min-height: 30px;
  @include caption-1;
  padding: $space_4 $space_20 $space_4 $space_8;
  gap: 0;

}

.btn-primary {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $space_20;
  justify-content: center;
  align-items: center;


  border-radius: $radius_button_large;
  border-color: $color_button_primary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: $color_button_primary;
  color: $color_text_white;
  box-shadow: -0px 13px 11.8px -6px $color_button_primary;

  &:hover {
    background-color: $color_button_primary_hover;
  }



  a {
    color: inherit;
  }
}


.btn-secondary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: $radius_button_large;
  border-color: $color_button_secondary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: transparent;
  color: $color_text_primary;

  &:hover {
    background-color: $color_button_secondary_hover;
  }

  &.inactive {
    background-color: $color_button_inactive;
    color: $color_text_secondary;
    border-color: $color_button_inactive;
    border-width: $width_default;
    border-style: solid;
  }

  &.destructive {
    background-color: transparent;
    color: $color_text_error;
    border-color: $color_button_destructive_border;
    border-width: $width_md;
    border-style: solid;

  }

}

.btn-tetriary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;

  color: $color_text_primary;

  a {
    color: inherit;
  }
}

// кнопка навигации

.btn-nav {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: $radius_button_large;
  border-color: $color_button_primary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: $color_button_primary;
  box-shadow: -0px 13px 11.8px -6px $color_button_primary;

  &:hover {
    background-color: $color_button_primary_hover;
  }
}


.btn-primary-sq {
  width: 50px;
  height: 50px;
  padding: $space_4 $space_4;

  border-radius: $radius_button_large;
  border-color: $color_button_primary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: $color_button_primary;
  color: $color_text_white;
  box-shadow: -0px 13px 11.8px -6px $color_button_primary;

  &:hover {
    background-color: $color_button_primary_hover;
  }

  &.inactive {
    background-color: $color_button_inactive;
    color: $color_icon_gray;
    border-color: $color_button_inactive;
    border-width: $width_default;
    border-style: solid;
  }

  &.destructive {
    background-color: $color_button_destructive;
    color: $color_icon_light;
    border-color: $color_button_destructive;
    border-width: $width_md;
    border-style: solid;
  }
}

.btn-secondary-sq {
  width: 50px;
  height: 50px;
  padding: $space_4 $space_4;

  border-radius: $radius_button_large;
  border-color: $color_button_secondary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: transparent;

  &:hover {
    background-color: $color_button_secondary_hover;
  }

  &.inactive {
    background-color: $color_button_inactive;
    color: $color_icon_gray;
    border-color: $color_button_inactive;
    border-width: $width_default;
    border-style: solid;
  }

  &.destructive {
    background-color: transparent;
    color: $color_error;
    border-color: $color_button_destructive_border;
    border-width: $width_md;
    border-style: solid;
  }
}