@use '../abstractions/' as *;

.btn-primary {
  width: 100%;
  padding: $space_4 $space_20;
  @include label-2;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  gap: $space_20;
  justify-content: center;
  align-items: center;


  border-radius: $radius_button_large;
  border-color: $color_button_primary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: $color_button_primary;
  color: $color_text_white;
  box-shadow: -0px 13px 11.8px -6px $color_button_primary;

  &:hover {
    background-color: $color_button_primary_hover;
  }

  div {
    flex-basis: 40px;
  }

  a {
    color: inherit;
  }
}


.btn-secondary {
  width: 100%;
  padding: $space_4 $space_20;
  @include label-2;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  gap: $space_20;
  justify-content: center;
  align-items: center;

  border-radius: $radius_button_large;
  border-color: $color_button_secondary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: transparent;
  color: $color_text_primary;

  &:hover {
    background-color: $color_button_secondary_hover;
  }

  &.inactive {
    background-color: $color_button_inactive;
    color: $color_text_secondary;
    border-color: $color_button_inactive;
    border-width: $width_default;
    border-style: solid;
  }

  &.destructive {
    background-color: transparent;
    color: $color_text_error;
    border-color: $color_button_destructive_border;
    border-width: $width_md;
    border-style: solid;

  }

  div {
    flex-basis: 40px;
  }
}

.btn-tetriary {
  width: 100%;
  padding: $space_4 $space_20;
  @include label-2;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  gap: $space_20;
  justify-content: center;
  align-items: center;


  background-color: transparent;

  color: $color_text_primary;

  div {
    flex-basis: 40px;
  }

  a {
    color: inherit;
  }
}


.btn-nav {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: $radius_button_large;
  border-color: $color_button_primary_border;
  border-width: $width_default;
  border-style: solid;
  background-color: $color_button_primary;
  box-shadow: -0px 13px 11.8px -6px $color_button_primary;

  &:hover {
    background-color: $color_button_primary_hover;

  }
}