$color_link: #1091E0;
$radius_card_big: 20px;
$radius_card_inCard: 16px;
$radius_button_large: 12px;
$radius_button_medium: 8px;
$radius_textfield: 12px;
$radius_toast: 20px;
$radius_icon_big: 12px;
$color_primary: #E29578;
$color_primary_border: #D08467;
$color_primary_border_light: #F6CBBA;
$color_primary_surface: #FDF0EB;
$color_primary_shadow: #E7AB8C;
$color_second: #F87D52;
$color_second_border: #DB6940;
$color_second_border_light: #F3C7B7;
$color_second_surface: #F3C7B7;
$color_second_onSurface: #FFA281;
$color_third: #FEB8B4;
$color_third_onSurface: #FFE4E3;
$color_third_surface: #FFEBEA;
$color_background: #FDF0EB;
$color_onSurface: #FDF0EB;
$color_chips_surface: #FDF0EB;
$color_success: #A2D9CE;
$color_success_surface: #E7FBF7;
$color_success_border: #8BC4B9;
$color_error: #F67769;
$color_error_surface: #FFEBE9;
$color_error_border: #CE655A;
$color_scrollbar_primary: #F6CBBA;
$color_divider100: #E5E5E5;
$color_icon_primary: #E29578;
$color_icon_secondary: #F87D52;
$color_icon_secondary_onSurface: #FFA281;
$color_icon_third: #FEB8B4;
$color_icon_third_surface: #FFEBEA;
$color_icon_dark: #2D2522;
$color_icon_surface: #FDF0EB;
$color_icon_error: #F67769;
$color_icon_success: #A2D9CE;
$color_icon_gray: #939393;
$color_icon_light: #FFFFFF;
$color_icon_link: #1091E0;
$color_button_primary: #E29578;
$color_button_primary_border: #D08467;
$color_button_primary_hover: #D08467;
$color_button_secondary_hover: #FDF0EB;
$color_button_secondary_border: #D08467;
$color_button_destructive: #F67769;
$color_button_destructive_border: #CE655A;
$color_button_inactive: #E5E5E5;
$color_button_white: #FFFFFF;
$color_text_white: #FFFFFF;
$color_text_black: #2D2522;
$color_text_secondary: #939393;
$color_text_third: #FEB8B4;
$color_text_primary: #D08467;
$color_text_placeholder: #B5B5B5;
$color_text_link: #1091E0;
$color_text_error: #F67769;
$color_textField_surface: #FFFFFF;
$color_textField_surface_disabled: #E5E5E5;
$color_textField_border_disabled: #E5E5E5;
$color_textField_border_primary: #D08467;
$color_textField_border_primary_light: #F6CBBA;
$color_textField_border_success: #8BC4B9;
$color_textField_border_error: #CE655A;
$color_toggle_surface: #E29578;
$color_toggle_onSurface: #D08467;
$color_toggle_pusher: #FFFFFF;
$color_toggle_inactive_surface: #E5E5E5;
$color_toggle_inactive_onSurface: #B5B5B5;
$color_toggle_inactive_pusher: #FFFFFF;
$color_progressbar_primary: #E29578;
$color_progressbar_primary_under: #F6CBBA;
$color_progressbar_third: #FEB8B4;
$color_progressbar_third_under: #FFE4E3;
$color_progressbar_alert: #F67769;
$color_progressbar_alert_under: #FFEBE9;
$color_card_surface: #FFFFFF;
$color_card_border_primary_light: #F6CBBA;
$color_card_border_primary: #D08467;
$color_card_OnSurface: #FDF0EB;
$color_card_OnSurface_border: #F6CBBA;
$color_card_accident_surface: #F87D52;
$color_card_accident_OnSurface: #FFA281;
$color_card_accident_border: #DB6940;