@use './brown-theme' as *;
@use './primitives' as *;
@use './brown-theme' as *;
@use './variables' as *;


// Главный заголовок экрана
@mixin head-1 {
  font-family: $heading-1;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: $color_text_black;
}

// Заголовки секций
@mixin head-2 {
  font-family: $heading-1;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  color: $color_text_black;
}

// Основной наборный текст
@mixin body-2 {
  font-family: $heading-2;
  font-size: 16px;
  font-weight: normal;
  color: $color_text_black;

}

// Жирный основной наборный текст
@mixin body-2b {
  font-family: $heading-2;
  font-size: 16px;
  font-weight: bold;
  color: $color_text_black;

}

// Второстепенный текст, подсказки
@mixin body-3 {
  font-family: $heading-2;
  font-size: 14px;
  font-weight: 500;
  color: $color_text_black;

}

// Жирный второстепенный текст, подсказки
@mixin body-3b {
  font-family: $heading-2;
  font-size: 14px;
  font-weight: bold;
  color: $color_text_black;

}

// Кнопки, инпуты, описание
@mixin label-1 {
  font-family: $heading-2;
  font-size: 20px;
  font-weight: 600;
  color: $color_text_black;

}

@mixin label-2 {
  font-family: $heading-1;
  font-size: 18px;
  font-weight: 500;
  color: $color_text_black;

}

// Мелкий текст, подписи
@mixin caption-1 {
  font-family: $heading-2;
  font-size: 13px;
  font-weight: normal;
  color: $color_text_gray;
}

// Жирный мелкий текст, подписи
@mixin caption-bold {
  font-family: $heading-2;
  font-size: 12px;
  font-weight: 800;
  color: $color_text_black;

}

// Мелкий текст, подписи
@mixin caption-2 {
  font-family: $heading-2;
  font-size: 11px;
  font-weight: normal;
  color: $color_text_gray;

}