$color_brown_100: #FDF0EB;
$color_brown_300: #F6CBBA;
$color_brown_400: #E7AB8C;
$color_brown_500: #E29578;
$color_brown_700: #D08467;
$color_orange_100: #FFF2EE;
$color_orange_300: #F3C7B7;
$color_orange_500: #FFA281;
$color_orange_800: #F87D52;
$color_orange_900: #DB6940;
$color_orange_1000: #D85C31;
$color_pink_400: #FEB8B4;
$color_pink_200: #FFE4E3;
$color_pink_100: #FFEBEA;
$color_red_100: #FFEBE9;
$color_red_500: #F67769;
$color_red_700: #CE655A;
$color_violet_100: #F2EFFF;
$color_violet_200: #E9E4FF;
$color_violet_300: #DCD0FF;
$color_violet_400: #BBA8F2;
$color_violet_500: #AB93F4;
$color_violet_600: #A78BFA;
$color_violet_800: #8B5CF6;
$color_blue_500: #1091E0;
$color_mint_100: #E7FBF7;
$color_mint_500: #A2D9CE;
$color_mint_700: #8BC4B9;
$color_black: #2D2522;
$color_gray_100: #E5E5E5;
$color_gray_300: #B5B5B5;
$color_gray_500: #939393;
$color_white: #FFFFFF;
$space_2: 2px;
$space_4: 4px;
$space_8: 8px;
$space_10: 10px;
$space_12: 12px;
$space_16: 16px;
$space_20: 20px;
$space_28: 28px;
$space_40: 40px;
$radius_none: 0px;
$radius_8: 8px;
$radius_12: 12px;
$radius_16: 16px;
$radius_20: 20px;
$radius_full: 999px;
$width_default: 1px;
$width_md: 1.5px;