@use "sass:math";
$base-brown-300: #F6CBBA;
$base-brown-500: #E29578;
$base-brown-700: #D08467;
$base-gray-100: #E5E5E5;
$base-gray-300: #B5B5B5;
$base-gray-500: #939393;
$base-black: #2D2522;


$primary-color: #E29578;
$secondary-color: #FBE5C8;
$third-color: #FEB8B4;
$success-color: #A2D9CE;

$background-color: #FFF2DE;
$surface-color: #FFFFFF;
$surface-error-color: #FFEBE9;

$brd-primary-default: #D08467;
$brd-primary-light: #F6CBBA;
$brd-error-color: #CE655A;
$brd-success-color: #A2D9CE;

$font-primary-color: #2D2522;
$font-secondary-color: #939393;
$font-brown: #D08467;
$font-placeholder: #B5B5B5;
$font-link: #1091E0;
$font-error: #F67769;

$icon-dark-color: #2D2522;
$icon-gray-color: #939393;
$icon-light-color: #FFFFFF;

$btn-inactive-color: #B5B5B5;
$btn-hover-color: #D08467;

$brd-radius-sm: 8px;
$brd-radius-md: 12px;
$brd-radius-lg: 20px;

$brd-primary-full: 1px solid $brd-primary-default;
$icon-width: 35px;
$icon-height: 35px;
$brd-width: 1px;