@use "sass:math";
$base-brown-300: #F6CBBA; //! new
$base-brown-500: #E29578; //! new
$base-brown-700: #D08467; //! new
$base-gray-100: #E5E5E5; //! new
$base-gray-300: #B5B5B5; //! new
$base-gray-500: #939393; //! new
$base-black: #2D2522; //! new


$primary-color: #E29578;
$secondary-color: #FBE5C8;
$third-color: #FEB8B4; //! new
$success-color: #A2D9CE; //!new


$primary-bdr-default: #D08467; //! new
$primary-bdr-light: #F6CBBA; //! new
$error-brd-color: #CE655A; //!new
$success-brd-color: #A2D9CE; //!new

$background-color: #FFF2DE; //! new
$surface-color: #FFFFFF; //!new
$surface-error-color: #FFEBE9; //!new


$primary-font-color: #2D2522;
$secondary-font-color: #939393;
$font-brown: #D08467; //! new
$font-placeholder: #B5B5B5; //!new
$font-link: #1091E0; //! new
$font-error: #F67769; //! new

$icon-dark-color: #2D2522; //!new
$icon-gray-color: #939393; //!new
$icon-light-color: #FFFFFF; //!new

$btn-inactive-color: #B5B5B5; //!new
$btn-hover-color: #D08467; //!new