$color_link: #FFFFFF;
$radius_card_big: 20px;
$radius_card_inCard: 16px;
$radius_button_large: 12px;
$radius_button_medium: 8px;
$radius_textfield: 12px;
$radius_toast: 20px;
$radius_icon_big: 12px;
$radius_full: 999px;
$color_primary: #A78BFA;
$color_primary_border: #8B5CF6;
$color_primary_border_light: #DCD0FF;
$color_primary_surface: #F2EFFF;
$color_primary_shadow: #BBA8F2;
$color_second: #8B5CF6;
$color_second_border: #8B5CF6;
$color_second_border_light: #DCD0FF;
$color_second_surface: #F2EFFF;
$color_second_onSurface: #A78BFA;
$color_third: #FEB8B4;
$color_third_onSurface: #FFE4E3;
$color_third_surface: #FFE4E3;
$color_background: #F2EFFF;
$color_onSurface: #F2EFFF;
$color_chips_surface: #F2EFFF;
$color_success: #A2D9CE;
$color_success_surface: #E7FBF7;
$color_success_border: #8BC4B9;
$color_error: #F67769;
$color_error_surface: #FFEBE9;
$color_error_border: #CE655A;
$color_scrollbar_primary: #FFFFFF;
$color_divider100: #FFFFFF;
$color_icon_primary: #A78BFA;
$color_icon_secondary: #A78BFA;
$color_icon_secondary_onSurface: #A78BFA;
$color_icon_third: #A78BFA;
$color_icon_third_surface: #A78BFA;
$color_icon_dark: #2D2522;
$color_icon_surface: #F2EFFF;
$color_icon_error: #2D2522;
$color_icon_success: #FFFFFF;
$color_icon_gray: #939393;
$color_icon_light: #FFFFFF;
$color_icon_link: #939393;
$color_button_primary: #A78BFA;
$color_button_primary_border: #A78BFA;
$color_button_primary_hover: #8B5CF6;
$color_button_secondary_hover: #8B5CF6;
$color_button_secondary_border: #A78BFA;
$color_button_destructive: #F67769;
$color_button_destructive_border: #CE655A;
$color_button_inactive: #E5E5E5;
$color_button_white: #E5E5E5;
$color_text_white: #FFFFFF;
$color_text_black: #2D2522;
$color_text_secondary: #939393;
$color_text_third: #939393;
$color_text_primary: #A78BFA;
$color_text_placeholder: #B5B5B5;
$color_text_link: #1091E0;
$color_text_error: #1091E0;
$color_textField_surface: #E5E5E5;
$color_textField_surface_disabled: #E5E5E5;
$color_textField_border_disabled: #E5E5E5;
$color_textField_border_primary: #E5E5E5;
$color_textField_border_primary_light: #E5E5E5;
$color_textField_border_success: #8BC4B9;
$color_textField_border_error: #8BC4B9;
$color_toggle_surface: #FFFFFF;
$color_toggle_onSurface: #FFFFFF;
$color_toggle_pusher: #FFFFFF;
$color_toggle_inactive_surface: #FFFFFF;
$color_toggle_inactive_onSurface: #FFFFFF;
$color_toggle_inactive_pusher: #FFFFFF;
$color_progressbar_primary: #FFFFFF;
$color_progressbar_primary_under: #FFFFFF;
$color_progressbar_third: #FFFFFF;
$color_progressbar_third_under: #FFFFFF;
$color_progressbar_alert: #FFFFFF;
$color_progressbar_alert_under: #FFFFFF;
$color_card_surface: #FFFFFF;
$color_card_border_primary_light: #FFFFFF;
$color_card_border_primary: #FFFFFF;
$color_card_OnSurface: #FFFFFF;
$color_card_OnSurface_border: #FFFFFF;
$color_card_accident_surface: #FFFFFF;
$color_card_accident_OnSurface: #FFFFFF;
$color_card_accident_border: #FFFFFF;